body{
    display: flex;
    justify-content: center;
    padding: 20px;
}
input{
    margin-left: 10px;
}
form{
    border:1px solid #3c3c3c;
    padding: 20px;
    border-radius: 20px;
}
label{
    font-weight: bold;
    margin: 10px;
}